<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex align-items-center">
        <h1 class="text-center text-danger font-weight-bold fs-60 mb-0">404</h1>
        <img class="img-fluid ml-3" src="assets/img/error-404.jpg" alt="" style="max-height: 100px;">
      </div>
      <p class="text-center text-danger font-weight-bold fs-20 mt-3">¡La página que estás buscando no fue encontrada!</p>
    </div>
  </div>
  