
 <div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
    <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
            <a href="" class="navbar-brand">
                <h1 class="text-primary"><span class="text-white">TRAVEL</span>ER</h1>
            </a>
            <p>Descubre el mundo con nosotros. En TRAVELER, transformamos tus sueños en experiencias inolvidables. Desde las playas paradisíacas del Caribe hasta las majestuosas montañas de los Andes, cada destino es una nueva aventura.</p>
            <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Síganos</h6>
            <div class="d-flex justify-content-start">
                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fa-brands fa-facebook"></i></a>
                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Nuestros servicios</h5>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Guía Turística</a>
                <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Reserva de entradas</a>
                <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Reserva de hotel</a>
                <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Cobertura médica</a>
                <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Reserva de eventos </a>
                <a class="text-white-50" href="#"><i class="fa fa-angle-right mr-2"></i>Cenas temáticas</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">
                Enlaces útiles</h5>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white-50 mb-2" routerLink ="/home"><i class="fa fa-angle-right mr-2"></i>Inicio</a>
                <a class="text-white-50 mb-2" routerLink ="/about"><i class="fa fa-angle-right mr-2"></i>Acerca de</a>
                <a class="text-white-50 mb-2" routerLink ="/services"><i class="fa fa-angle-right mr-2"></i>Servicios</a>
                <a class="text-white-50 mb-2"routerLink ="/tour"><i class="fa fa-angle-right mr-2"></i>Paquetes turísticos</a>
                <a class="text-white-50 mb-2" routerLink ="/contact"><i class="fa fa-angle-right mr-2"></i>Contacto</a>
                <a class="text-white-50" routerLink="/perfil"><i class="fa fa-angle-right mr-2"></i>Perfil</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contacta con nosotros</h5>
            <p><i class="fa fa-map-marker-alt mr-2"></i>Trujillo - Perú</p>
            <p><i class="fa fa-phone-alt mr-2"></i>123456789</p>
            <p><i class="fa fa-envelope mr-2"></i>viajes&#64;gmail.com.pe</p>
            <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Boletín Informativo</h6>
            <div class="w-100">
                <div class="input-group">
                    <input type="text" class="form-control border-light" style="padding: 25px;" placeholder="Tu Email">
                    <div class="input-group-append">
                        <button class="btn btn-primary px-3">Inscribirse</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
        <p class="m-0 text-white-50">Copyright &copy;<a> Todos los Derechos Reservados</a>
        </p> 

        </div>
    </div>
</div>