<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          <h2 class="mb-0">Perfil de Usuario</h2>
        </div>
        <div class="card-body">
          <div class="text-center mb-4">
            <img src="assets/img/user2.png" alt="Avatar del usuario" class="rounded-circle border border-primary" width="150">
          </div>
          <div class="row mb-3">
            <div class="col-md-6 text-center">
              <h5>Nombre Completo:</h5>
              <p class="text-center">{{ username }}</p> 
            </div>
            <div class="col-md-6 text-center">
              <h5>Correo Electrónico:</h5>
              <p class="text-center">{{ email }}</p> 
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-primary btn-lg mx-2" routerLink="/">Regresar</button>
            <button class="btn btn-danger btn-lg mx-2" (click)="cerrarSesion()">Cerrar Sesión</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
